<footer>
  <div class="centered">
    <div class="social-icon-box border">
    {%- set socials = config.extra.socials -%}
    {%- for link in socials -%}
        <a href="{{ link.url }}" class="social-link {{ link.name | lower }}" title="{{ link.name }}">
          {% set icon_path = "images/social/" ~ link.name ~ ".svg" %}
          <img src="{{ get_url(path=icon_path) }}" class="social-icon" />
        </a>
    {%- endfor -%}
    <a href="{{ get_url(path='atom.xml') }}" class="social-link rss" title="Atom Feed">
      <img src="{{ get_url(path='images/social/rss.svg') }}"  class="social-icon rss"  />
    </a>
    </div>
    <div class="copyright-box u-pull-right">
      Copyright &copy; RedstoneParadox 2024
    </div>
  </div>
  </footer>