<footer>
    <div class="container">
      <div class="centered">
        <div class="social-icon-box right-border u-pull-left">
        {%- set socials = load_data(path="socials.json") -%}
        {%- for link in socials -%}
            {%- set img_src = get_url(path=link.icon) -%}
            <a href="{{ link.url }}" class="social-link" title="{{ link.title }}"><img src="{{ img_src }}" class="social-icon" /></a>
        {%- endfor -%}
        </div>
        <div class="copyright-box u-pull-right">
          Copyright &copy; RedstoneParadox 2024
        </div>
      </div>
    </div>
  </footer>