<footer>
  <div class="centered">
    <div class="social-icon-box border">
    {%- set socials = load_data(path="socials.json") -%}
    {%- for link in socials -%}
        <a href="{{ link.url }}" class="social-link {{ link.class }}" title="{{ link.title }}">
          <img src="{{ get_url(path=link.icon) }}" class="social-icon" />
        </a>
    {%- endfor -%}
    <a href="{{ get_url(path='atom.xml') }}" class="social-link rss" title="Atom Feed">
      <img src="{{ get_url(path='images/social/rss.svg') }}"  class="social-icon rss"  />
    </a>
    </div>
    <div class="copyright-box u-pull-right">
      Copyright &copy; RedstoneParadox 2024
    </div>
  </div>
  </footer>