html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}
body {
    --site-background-color: #e6ebed;
    --site-secondary-color: #dce2e3;
    --site-tertiary-color: #d0d9d9;
    --site-alt-background-color: #2f3b40;
    --site-alt-tertiary-color: #414f59;
    --hover-background-color: #b0bfbf;
    --text-color: #222;
    --accent-color: #cc5252;
    --theme-icon-color: invert(97%) sepia(5%) saturate(155%) hue-rotate(152deg) brightness(92%) contrast(95%);;
    --theme-icon-margin: 2px;
    background-color: var(--site-background-color);
    color: var(--text-color);
}
.dark {
    --site-background-color: #2f3b40;
    --site-secondary-color: #39444d;
    --site-tertiary-color: #414f59;
    --site-alt-background-color: #e6ebed;
    --site-alt-tertiary-color: #d0d9d9;
    --hover-background-color: #5b657d;
    --text-color: #dedede;
    --theme-icon-color: invert(10%) sepia(23%) saturate(627%) hue-rotate(201deg) brightness(95%) contrast(92%);
    --theme-icon-margin: auto;
}

.header-top {
    background-color: var(--site-tertiary-color);
    color: var(--text-color);
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 8px;
    padding-bottom: 8px;
    display: flex;
    flex-direction: row;
    align-content: center;
}
.site-name {
    font-family: "Roboto", sans-serif;
    font-size: medium;
    font-weight: 700;
    color: var(--accent-color);
    margin-left: 1%;
    font-weight: 600;
}
.site-icon {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: var(--site-background-color);
}
.button.theme-toggle,
button.theme-toggle {
    border: 2px solid var(--site-secondary-color);
    border-radius: 12px;
    background-color: var(--site-background-color);
    width: 48px;
    height: 24px;
    padding: 0%;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}
.theme-toggle-thumb {
    display: grid;
    width: 18px;
    height: 18px;
    border-radius: 9px;
    margin-right: 2px;
    place-items: center;
    background-color: var(--site-alt-tertiary-color);
}
.theme-toggle-thumb.start {
    margin-left: var(--theme-icon-margin);
}
.theme-toggle-thumb.animate-right {
    animation: 150ms 1 normal thumb-move;
    animation-fill-mode: forwards;
}
.theme-toggle-thumb.animate-left {
    animation: 150ms 1 forwards thumb-move-back;
    animation-fill-mode: forwards;
}
.theme-icon {
    width: 12px;
    height: 12px;
    filter: var(--theme-icon-color);
}

@keyframes thumb-move {
    from {
        margin-left: 2px;
    }

    to {
        margin-left: 24px;
    }
}
@keyframes thumb-move-back {
    from {
        margin-left: 24px;
    }

    to {
        margin-left: 2px;
    }
}

.header-nav {
    background-color: var(--site-secondary-color);
    height: 32px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.nav-link {
    font-family: "Roboto", sans-serif;
    font-size: large;
    font-weight: 700;
    text-decoration: none;
    color: var(--accent-color);
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    height: auto;
}
.nav-link.selected {
    border-bottom: 2px solid var(--accent-color);;
}
.nav-link:hover {
    background-color: var(--hover-background-color);
    color: #ebedf2;
}

footer {
    width: 100%;
    margin-top: 5%;
    flex-grow: 1;
    background-color: var(--site-secondary-color);
}
.social-icon {
    filter: invert(42%) sepia(51%) saturate(632%) hue-rotate(312deg) brightness(92%) contrast(101%);
}
.social-icon:hover {
    filter: invert(99%) sepia(8%) saturate(1011%) hue-rotate(178deg) brightness(99%) contrast(91%);
}
.social-icon-box {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

h4 {
    font-family: "Roboto", sans-serif;
    color: var(--accent-color);
}

project-card {
    display: block;
    margin: 16px;
    width: 25%;
    padding: 16px;
    border: 2px solid var(--site-tertiary-color);
    border-radius: 8px;
    background-color: var(--site-secondary-color);
    box-shadow: 0 1px 0px #00000011,
                0 2px 0px #00000011,
                0 3px 0px #00000011,
                0 4px 0px #00000011;
}
.project-icon {
    width: 64px;
    border: 2px solid var(--site-tertiary-color);
    border-radius: 6px;
    background-color: var(--site-background-color);
}
.project-hr {
    border-color: var(--site-tertiary-color);
    margin: 16px;
}
.projects-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* Smaller than tablet */
@media (width < 750px) {
    h4 {
        font-weight:500;
    }
}
/* Larger than tablet */
@media (min-width: 750px) {
    .header-top {
        height: 32px;
        max-height: 32px;
        min-height: 32px;
    }
    .site-icon {
        width: 32px;
        height: 32px;
    }
    .site-name {
        font-size: large;
    }
}
/* Larger than desktop */
@media (min-width: 1000px) {
    .header-top {
        height: 40px;
        max-height: 40px;
        min-height: 40px;
    }
    .site-icon {
        width: 40px;
        height: 40px;
    }
    .site-name {
        font-size: x-large;
    }

    .header-nav {
        height: 42px;
    }
    .nav-link {
        font-size: x-large;
        width: 96px;
    }
    .nav-link.selected {
        border-bottom: 4px solid var(--accent-color);;
    }
}
/* Larger than Desktop HD */
@media (min-width: 1200px) {
    .header-top {
        height: 48px;
        max-height: 48px;
        min-height: 48px;
    }
    .site-name {
        font-size: 28px;
    }
    .site-icon {
        width: 48px;
        height: 48px;
    }
}