/* Page Setup and Variables */
html, body {
    height: 100%;
    display: flex;
    flex-direction: column;

    /* Lightmode colors */
    --lightmode-background-color: #e6ebed;
    --lightmode-secondary-background-color: #d0d9d9;
    --lightmode-border-color: #dce2e3;
    --lightmode-text-color: #222;
    --lightmode-theme-icon-filter: invert(97%) sepia(5%) saturate(155%) hue-rotate(152deg) brightness(92%) contrast(95%);

    /* Darkmode colors */
    --darkmode-background-color: #2f3b40;
    --darkmode-secondary-background-color: #414f59;
    --darkmode-border-color: #39444d;
    --darkmode-text-color: #dedede;
    --darkmode-theme-icon-filter: invert(10%) sepia(23%) saturate(627%) hue-rotate(201deg) brightness(95%) contrast(92%);

    /* Accent colors */
    --accent-color: #cc5252;
}
body {
    --site-background-color: var(--lightmode-background-color);
    --site-secondary-background-color: var(--lightmode-secondary-background-color);
    --site-border-color: var(--lightmode-border-color);

    --site-alt-background-color: #2f3b40;
    --site-alt-tertiary-color: #414f59;
    --theme-icon-filter: var(--lightmode-theme-icon-filter);
    --theme-icon-margin: 2px;
    background-color: var(--lightmode-background-color);
    color: var(--lightmode-text-color);
}
.dark {
    --site-background-color: var(--darkmode-background-color);
    --site-secondary-background-color: var(--darkmode-secondary-background-color);
    --site-border-color: var(--darkmode-border-color);

    --site-alt-background-color: #e6ebed;
    --site-alt-tertiary-color: #d0d9d9;
    --theme-icon-filter: var(--darkmode-theme-icon-filter);
    --theme-icon-margin: auto;
    background-color: var(--darkmode-background-color);
    color: var(--darkmode-text-color);
}

/* Header */
header {
    background-color: var(--site-secondary-background-color);
}
.site-name {
    font-family: "Roboto", sans-serif;
    font-size: medium;
    font-weight: 700;
    color: var(--accent-color);
    margin-left: 1%;
    font-weight: 600;
    width: fit-content;
    margin-top: auto;
    margin-bottom: auto;
}
.site-icon {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: var(--site-background-color);
}
.header-nav {
    width: fit-content;
    height: 100%;
    padding-top: 6px;
    padding-left: 6px;
    padding-right: 6px;
    margin-right: 16px;
}
.nav-link {
    font-family: "Roboto", sans-serif;
    font-size: large;
    font-weight: 700;
    text-decoration: none;
    color: var(--accent-color);
    text-align: center;
    transition: 0.3s;
    padding: 8px;
    text-decoration: none;
    border-radius: 24px;
    margin-left: 2px;
    margin-right: 2px;
}
.nav-link.current {
    background-color: var(--site-border-color);
    color: #ebedf2;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
}
.nav-link:hover {
    background-color: var(--site-border-color);
    color: #ebedf2;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
}

/* Theme Toggle */
.button.theme-toggle,
button.theme-toggle {
    border: 2px solid var(--site-border-color);
    border-radius: 12px;
    background-color: var(--site-background-color);
    width: 48px;
    height: 24px;
    padding: 0%;
    margin-top: 6px;
}
.theme-toggle-thumb {
    display: grid;
    width: 18px;
    height: 18px;
    border-radius: 9px;
    margin-right: 2px;
    place-items: center;
    background-color: var(--site-alt-tertiary-color);
}
.theme-toggle-thumb.start {
    margin-left: var(--theme-icon-margin);
}
.theme-toggle-thumb.animate-right {
    animation: 150ms 1 normal thumb-move;
    animation-fill-mode: forwards;
}
.theme-toggle-thumb.animate-left {
    animation: 150ms 1 forwards thumb-move-back;
    animation-fill-mode: forwards;
}
.theme-icon {
    width: 12px;
    height: 12px;
    filter: var(--theme-icon-filter);
}

@keyframes thumb-move {
    from {
        margin-left: 2px;
    }

    to {
        margin-left: 24px;
    }
}
@keyframes thumb-move-back {
    from {
        margin-left: 24px;
    }

    to {
        margin-left: 2px;
    }
}

/* Main Body*/
.content {
    margin-top: 2%;
    flex-grow: 1;
}
hr {
    border-color: var(--site-border-color);
    border-width: 1px;
}
h4 {
    font-family: "Roboto", sans-serif;
    color: var(--accent-color);
}

/* Projects */
project-card {
    display: block;
    margin: 16px;
    width: 25%;
    padding: 16px;
    border: 2px solid var(--site-secondary-background-color);
    border-radius: 8px;
    background-color: var(--site-border-color);
    box-shadow: 0 1px 0px #00000011,
                0 2px 0px #00000011,
                0 3px 0px #00000011,
                0 4px 0px #00000011;
}
.project-icon {
    width: 64px;
    border: 2px solid var(--site-secondary-background-color);
    border-radius: 6px;
    background-color: var(--site-background-color);
}
.project-hr {
    border-color: var(--site-secondary-background-color);
    margin: 16px;
}
.projects-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* Blog */
.toc-box {
    position: sticky;
    top: 0;
}

/* Footer */
footer {
    width: 100%;
    margin-top: 2%;
    background-color: var(--site-secondary-background-color);
    padding-top: 8px;
    padding-bottom: 8px;
}
.social-icon {
    filter: invert(42%) sepia(51%) saturate(632%) hue-rotate(312deg) brightness(92%) contrast(101%);
}
.social-icon:hover {
    filter: invert(99%) sepia(8%) saturate(1011%) hue-rotate(178deg) brightness(99%) contrast(91%);
}
.social-icon-box {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    width: fit-content;
    margin-right: 8px;
}

/* Utils */
.centered {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.shrink {
    width: fit-content;
}

div.right-border {
    border-right: 2px solid var(--site-border-color);
}

/* Media Queries */

/* Smaller than tablet */
@media (width < 750px) {
    h4 {
        font-weight:500;
    }
}
/* Larger than tablet */
@media (min-width: 750px) {
    .site-icon {
        width: 32px;
        height: 32px;
    }
    .site-name {
        font-size: large;
    }
}
/* Larger than desktop */
@media (min-width: 1000px) {
    .site-icon {
        width: 40px;
        height: 40px;
    }
}
/* Larger than Desktop HD */
@media (min-width: 1200px) {
    header {
        height: 40px;
        padding-top: 8px;
        padding-bottom: 8px;
    }

    .site-icon {
        width: 40px;
        height: 40px;
    }
    .site-name {
        font-size: x-large;
    }
    .copyright-box {
        padding-top: 10px;
    }

    .external-icon {
        width: 16px;
        height: 16px;
    }
}