/* Page Setup and Variables */
html, body {
    height: 100%;
    display: flex;
    flex-direction: column;

    /* Lightmode colors */
    --lightmode-background-color: #e1e6e8;
    --lightmode-secondary-background-color: #cbd4d4;
    --lightmode-border-color: #d5ddde;
    --lightmode-text-color: #222;
    --lightmode-secondary-text-color: #555;
    --lightmode-secondary-text-filter: invert(28%) sepia(0%) saturate(3625%) hue-rotate(150deg) brightness(79%) contrast(61%);

    /* Darkmode colors */
    --darkmode-background-color: #181e21;
    --darkmode-secondary-background-color: #22292e;
    --darkmode-border-color: #39444d;
    --darkmode-text-color: #dedede;
    --darkmode-secondary-text-color: #ababab;
    --darkmode-secondary-text-filter: invert(68%) sepia(0%) saturate(1151%) hue-rotate(138deg) brightness(99%) contrast(96%);

    /* Accent colors */
    --accent-color: #cc5252;
    --accent-filter: invert(42%) sepia(51%) saturate(632%) hue-rotate(312deg) brightness(92%) contrast(101%);
}
body {
    --site-background-color: var(--lightmode-background-color);
    --site-secondary-background-color: var(--lightmode-secondary-background-color);
    --site-border-color: var(--lightmode-border-color);
    --site-secondary-text-color: var(--lightmode-secondary-text-color);
    --site-secondary-text-filter: var(--lightmode-secondary-text-filter);

    background-color: var(--site-background-color);
    color: var(--lightmode-text-color);
}
.dark {
    --site-background-color: var(--darkmode-background-color);
    --site-secondary-background-color: var(--darkmode-secondary-background-color);
    --site-border-color: var(--darkmode-border-color);
    --site-secondary-text-color: var(--darkmode-secondary-text-color);
    --site-secondary-text-filter: var(--darkmode-secondary-text-filter);

    color: var(--darkmode-text-color);
}

/* Header */
header {
    background-color: var(--site-secondary-background-color);
    position: sticky;
    top: 0;
    z-index: 1;
    height: 32px;
    padding-top: 2px;
    padding-bottom: 2px;
}
.site-name-icon-box {
    width: fit-content;
}
.site-name-box{
    font-family: "Roboto", sans-serif;
    font-size: medium;
    font-weight: 700;
    color: var(--accent-color);
    margin-left: 1%;
    font-weight: 600;
    width: fit-content;
    padding-top: 2px;
    display: none;
}
.site-icon {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: var(--site-background-color);
}

/* Navigation */
.header-nav {
    width: fit-content;
    padding-top: 4px;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    margin-right: 4px;
    height: 28px;
}
.nav-link {
    font-family: "Roboto", sans-serif;
    font-size: small;
    font-weight: 700;
    text-decoration: none;
    color: var(--site-secondary-text-color);
    text-align: center;
    transition: 0.3s;
    padding: 3px;
    text-decoration: none;
    border-radius: 12px;
    margin-left: 2px;
    margin-right: 2px;
}
.nav-link.current {
    background-color: var(--site-border-color);
    color: var(--accent-color);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
}
.nav-link:hover {
    background-color: var(--site-border-color);
    color: var(--accent-color);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    text-decoration: none;
}

theme-toggle::part(button) {
    border: 0px solid white;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    padding: 0%;
    transition: 0.3s;
    background-color: var(--site-secondary-background-color);
}
theme-toggle::part(button):hover {
    background-color: var(--site-border-color);
    color: var(--accent-color);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
}
theme-toggle::part(icon) {
    filter: var(--site-secondary-text-filter);
    width: 20px;
    height: 20px;
    margin-top: 2px;
}

/* Main Body*/
.content {
    margin-top: 2%;
    flex-grow: 1;
}
hr {
    border: 0;
    border-top: 2px solid var(--site-border-color);
}
a {
    color: var(--accent-color);
    text-decoration: none;
}
a:hover {
    color: var(--accent-color);
    text-decoration: underline;
}

/* Projects */
project-card {
    display: block;
    margin: 16px;
    width: 100%;
    padding: 8px;
    background-color: var(--site-secondary-background-color);
    /*box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);*/
    border-top: solid 2px var(--accent-color);
}
.project-icon {
    width: 64px;
    border: 2px solid var(--site-border-color);
    background-color: var(--site-background-color);
}
.project-hr {
    margin-top: 8px;
    margin-bottom: 8px;
}
.projects-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/* Blog */
.toc-box {
    position: sticky;
    top: 0;
}
.tag {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: var(--site-secondary-text-color);
    text-align: center;
    transition: 0.3s;
    padding: 4px;
    text-decoration: none;
    border-radius: 16px;
    margin-right: 4px;
    background-color: var(--site-secondary-background-color);
}
.tag:hover {
    background-color: var(--site-border-color);
    color: var(--accent-color);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    text-decoration: none;
}

/* Footer */
footer {
    width: 100%;
    margin-top: 2%;
    background-color: var(--site-secondary-background-color);
    padding-top: 8px;
    padding-bottom: 8px;
}
.copyright-box {
    color: var(--site-secondary-text-color);
    font-weight: 600;
}

/* Social Links */
.social-link {
    display: block;
    transition: 0.3s;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin: 4px;
}
.social-link:hover {
    background-color: var(--site-border-color);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
}
.social-icon {
    filter: var(--site-secondary-text-filter);
    width: 24px;
    height: 24px;
    margin: 2px;
}
.social-icon.github:hover {
    filter: invert(38%) sepia(11%) saturate(1981%) hue-rotate(222deg) brightness(94%) contrast(95%);
}
.social-icon.youtube:hover {
    filter: invert(15%) sepia(97%) saturate(7479%) hue-rotate(0deg) brightness(95%) contrast(113%);
}
.social-icon.modrinth:hover {
    filter: invert(96%) sepia(82%) saturate(4279%) hue-rotate(66deg) brightness(86%) contrast(97%);
}
.social-icon.discord:hover {
    filter: invert(33%) sepia(94%) saturate(2801%) hue-rotate(226deg) brightness(102%) contrast(90%);
}
.social-icon:hover {
    filter: var(--accent-filter);
}
.social-icon-box {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2px;
    margin-bottom: 2px;
}
.social-icon-box.border {
    border-bottom: 2px solid var(--site-border-color);
}

/* Utils */
.centered {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.shrink {
    width: fit-content;
}

div.right-border {
    border-right: 2px solid var(--site-border-color);
}

.secondary-text-color {
    color: var(--site-secondary-text-color);
}

/* Media Queries */

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
    .site-name-icon-box {
        width: 30%;
    }
    .site-name-box{
        display: block;
        font-size: large;
    }

    project-card {
        width: 40%;
        padding: 16px;
        margin: 16px;
    }
}

/* Larger than tablet */
@media (min-width: 750px) {
    .site-icon {
        width: 32px;
        height: 32px;
    }

    /* Theme Toggle */
    theme-toggle::part(button) {
        width: 32px;
        height: 32px;
    }
    theme-toggle::part(icon) {
        width: 20px;
        height: 20px;
        margin-top: 0px;
    }

    /* Navigation */
    .header-nav {
        padding-top: 3px;
        padding-bottom: 2px;
        padding-left: 3px;
        padding-right: 3px;
        margin-right: 8px;
    }
    .nav-link {
        font-size: medium;
        padding: 4px;
        border-radius: 16px;
        margin-left: 2px;
        margin-right: 2px;
    }

    /* Footer */
    footer {
        width: 100%;
        margin-top: 2%;
        background-color: var(--site-secondary-background-color);
        padding-top: 4px;
        padding-bottom: 4px;
    }
    .copyright-box {
        padding-top: 6px;
    }

    /* Social Links */
    .social-link {
        display: block;
        width: 28px;
        height: 28px;
        border-radius: 50%;
        margin: 2px;
    }
    .social-icon {
        width: 24px;
        height: 24px;
        margin: 4px;
    }
    .social-icon-box {
        margin-right: 8px;
        padding-right: 8px;
        float: left;
        padding-bottom: 0px;
        margin-bottom: 0px;
    }
    .social-icon-box.border {
        border-bottom: 0px solid var(--site-border-color);
        border-right: 2px solid var(--site-border-color);
    }
}

/* Larger than desktop */
@media (min-width: 1000px) {
    header {
        height: 40px;
        padding-top: 8px;
        padding-bottom: 8px;
    }

    .site-icon {
        width: 40px;
        height: 40px;
    }
    .site-name-box{
        font-size: x-large;
        height: 40px;
        padding-top: 0px;
    }

    theme-toggle::part(button) {
        width: 40px;
        height: 40px;
    }
    theme-toggle::part(icon) {
        width: 24px;
        height: 24px;
        margin-top: 3px;
    }

    /* Projects */
    project-card {
        width: 25%;
    }

    /* Navigation */
    .header-nav {
        padding-top: 6px;
        padding-bottom: 5px;
        padding-left: 6px;
        padding-right: 6px;
        margin-right: 8px;
    }
    .nav-link {
        font-size: large;
        padding: 8px;
        border-radius: 24px;
        margin-left: 2px;
        margin-right: 2px;
    }

    /* Social Links */
    .social-link {
        display: block;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        margin: 2px;
    }
    .social-icon {
        width: 28px;
        height: 28px;
        margin: 4px;
    }
    .social-icon-box {
        margin-right: 8px;
        padding-right: 8px;
    }

    .copyright-box {
        padding-top: 8px;
    }
}
/* Larger than Desktop HD */
@media (min-width: 1200px) {

}