html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.align-center {
    display: flex;
    align-items: center;
}

.align-right {
    display: flex;
    align-items: end;
}