html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.align-center-h {
    display: flex;
    align-items: center;
}

.align-center-v {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.align-right-h {
    display: flex;
    align-items: end;
}