.light-mode-base {
    background-color: white;
    color: #222;
}

.text-box.light-mode {
    background-color: #e4e4e4;
    color: #222;
}

.header.light-mode {
    background-color: #c2c5cc;
    color: #222;
}

.footer.light-mode {
    background-color: #dfe1e6;
    color: #222;
}

body.dark-mode {
    color: #e2e0e0;
    background-color: #1b1b1f;
}