body.dark-mode {
    color: #dedede;
    background-color: #232326;
}

.header-nav.dark-mode {
    color: #dedede;
    background-color: #383a3d;
}

.header-top.dark-mode {
    color: #dedede;
    background-color: #3d3e42;
    border-bottom: 1px solid #545659;
}

footer.dark-mode {
    color: #dedede;
    border-color: #3d3e40;
    background-color: #2c2c2e;
}

.nav-link.dark-mode:hover {
    background-color: #545659;
    color: white;
}

.theme-button.dark-mode:hover {
    background-color: #545659;
}

@media (hover: none) {
    .theme-button.dark-mode {
        background-color: #545659;
    }
}