body.dark-mode {
    color: #e2e0e0;
    background-color: #1b1b1f;
}

.button.dark-mode-button {
    border-radius: 19px;
    width: 38px;
    height: 38px;
    display: inline-block;
    margin-left: auto;
    padding-left: 0%;
}

.theme-icon {
    width: 32px;
    height: 32px;
    margin-left: 50%;
    margin-right: 50%;
    margin-top: 50%;
    margin-bottom: 50%;
}

.btn {
    height: 80px;
    line-height: 80px;  
    width: 80px;  
    font-size: 2em;
    font-weight: bold;
    border-radius: 50%;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    cursor: pointer;
  }