body {
    background-color: #ebedf2;
    color: #222;
}

.header-top {
    background-color: #cacedb;
    color: #222;
    border-bottom: 1px solid #b4b8bf;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 8px;
    padding-bottom: 8px;
    height: 24px;
    max-height: 24px;
    min-height: 24px;
}

.header-nav {
    background-color: #c5c8d6;
    color: #222;
}

footer {
    width: 100%;
    margin-top: 5%;
    flex-grow: 1;
    border-top: 1px solid #c2c5cc;
    background-color: #dfe2eb;
    color: #222;
}

.theme-button {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: 2px;
    margin-left: auto;
}
.theme-button:hover {
    background-color: #b4b8bf;
}

.theme-icon {
    width: 100%;
    height: 100%;
}

.nav-link {
    font-size:large;
    text-decoration: none;
    color: #b37d7d;
    display: block;
    width: 66px;
    text-align: center;
    height: 32px;
}

.nav-link.selected {
    border-bottom: 2px solid #b37d7d;
    height: 30px;
}

.nav-link:hover {
    background-color: #b4b8bf;
    color: #ebedf2;
}

.site-name {
    font-size: large;
    color: #b37d7d;
    margin-left: 1%;
    font-weight: 600;
}
.site-icon {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #ebedf2;
}

.social-icon {
    filter: invert(56%) sepia(23%) saturate(508%) hue-rotate(314deg) brightness(93%) contrast(89%);
}
.social-icon:hover {
    filter: invert(99%) sepia(8%) saturate(1011%) hue-rotate(178deg) brightness(99%) contrast(91%);
}

.large-screens-only {
    display: none;
}
.small-screens-only {
    display: contents;
}

/* Smaller than tablet */
@media (width < 750px) {
    .header-top-left {
        width: 50%;
        float: left;
    }
    .header-top-right {
        width: 50%;
    }
    h4 {
        font-weight:500;
    }
}

@media (hover: none) {
    .theme-button {
        background-color: #b4b8bf;
    }
}

/* Larger than tablet */
@media (min-width: 750px) {
    .header-top {
        height: 48px;
        max-height: 48px;
        min-height: 48px;
    }
    .site-icon {
        width: 48px;
        height: 48px;
    }
    .theme-button {
        border-radius: 50%;
        width: 32px;
        height: 32px;
        padding: 4px;
    }
    .large-screens-only {
        display: contents;
    }
    .small-screens-only {
        display: none;
    }
}
/* Larger than desktop */
@media (min-width: 1000px) {
    .nav-link {
        font-size: x-large;
    }
    .site-name {
        font-size: x-large;
    }
    .nav-link {
        width: 96px;
        text-align: center;
        height: 42px;
    }
    .nav-link.selected {
        border-bottom: 4px solid #b37d7d;
        height: 38px;
    }
}
/* Larger than Desktop HD */
@media (min-width: 1200px) {

    .site-name {
        font-size: xx-large;
    }
}