.text-box {
    border-radius: 6px;
    padding: 12px;
    background-color: #e4e4e4;
    color: #222;
}
.text-box.dark-mode {
    background-color: #2e2e2e;
    color: #ccc;
}

.header {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: #c5c5c5;
    color: #222;
}
.header.dark-mode {
    background-color: #242424;
    color: #ccc;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #c5c5c5;
    color: #222;
}
.footer.dark-mode {
    background-color: #242424;
    color: #ccc;
}