{%- macro post_preview(post) -%}
    {%- set url = get_url(path=post.path) -%}
    <div class="row">
        <div class="six columns">
            <h5>{{ post.title }}</h5>
        </div>
        <div class="six columns" style="text-align: right;">
           <span class="secondary-text-color"> Published: {{ post.date | date(format="%B %e, %Y") }}</span>
        </div>
    </div>
    {{ post.description }} | <a href="{{ url }}">More ></a><br />
    {%- for name, taxon in post.taxonomies -%}
    
        {%- for item in taxon -%}
            <a class="tag">#{{ item }}</a>
        {%- endfor -%}
    {%- endfor -%}
    <hr style="margin-top: 8px;" />
{%- endmacro post_preview -%}