{%- macro post_preview(post) -%}
    {%- set url = get_url(path=post.path) -%}
    <div>
        <div class="row">
            <div class="post-title-box">
                <h5>{{ post.title }}</h5>
            </div>
            <div class="post-preview-info-box">
                {{ post.date | date(format="%B %e, %Y") }} <span class="post-read-time">{{ post.reading_time }} min read</span>
            </div>
        </div>
        {{ post.description }} <br /> <a href="{{ url }}">Read More →</a><br />
        <div style="margin-top: 8px;">
        {%- for name, taxon in post.taxonomies -%}
            {%- for item in taxon -%}
            {%- set tag_url = get_taxonomy_url(kind="tags", name=item) -%}
            <a href="{{ tag_url }}" class="btn tag">#{{ item }}</a>
            {%- endfor -%}
        {%- endfor -%}
        </div>
        <hr class="small-margins" />
    </div>
{%- endmacro post_preview -%}