{% extends "base.html" %}

{% block title %}Page not Found{% endblock title %}

{% block body %}
<div class="container">
    <div class="row" style="margin-top: 15%;">
        <div class="four offset-by-four columns center-align">
            <div class="secondary-text-color">
                <h1 style="font-weight: 700;">Error 404</h1>
                <h4 style="font-style: italic;">Page not Found</h4>
            </div>
            <hr class="small-margins" />
            <div>
                I'm terribly sorry, but I simply could not find the page that you're looking for. 
                Maybe it is temporarily unavailable, or it might never have existed at all.
                Regardless, all I can do now is link you back <a href="{{ get_url(path='/') }}">home</a>.
            </div>
        </div>
    </div>
</div>

{% endblock body %}