<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>{{ section.title }} - RedstoneParadox's Site</title>
  <meta name="description" content="">
  <meta name="author" content="RedstoneParadox">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" type="text/css" href="{{ get_url(path="css/normalize.css") | safe }}">
  <link rel="stylesheet" type="text/css" href="{{ get_url(path="css/skeleton.css") | safe }}">
  <link rel="stylesheet" type="text/css" href="{{ get_url(path="css/style.css") | safe }}">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="{{ get_url(path="images/redstone_torch.png") | safe }}">

  <!-- Script
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script type="text/javascript" src="{{ get_url(path="script/main.js") | safe }}"></script>

  {% block hed %}{% endblock head %}

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<header class="row">
  <div class="container">
    <div class="six columns">
      <img src="{{ get_url(path="images/redstone_torch.png") | safe }}" class="site-icon u-pull-left">
      <div class="site-name u-pull-left">Redstone Paradox</div>
    </div>
    <div class="six columns" style="height: 100%;">
      <div class="u-pull-right" style="width: fit-content;">
        <div class="header-nav u-pull-left">
          {%- set root = get_section(path="_index.md") -%}
          {%- set classes = "nav-link" %}
          {% if root.title == section.title %}
          {%- set classes = "nav-link selected" %}
          {% endif %}
          <a href="{{ root.path }}" class="{{ classes }}">{{ root.title }}</a>
          {% for subsection_path in root.subsections %}
          {%- set subsection = get_section(path=subsection_path) -%}
            {%- set classes = "nav-link" %}
            {% if subsection.title == section.title %}
            {%- set classes = "nav-link selected" %}
            {% endif %}
          <a href="{{ subsection.path }}" class="{{ classes }}">{{ subsection.title }}</a>
          {% endfor %}
          <a href="https://maven.redstoneparadox.xyz" class="nav-link" target="_blank">Maven</a>
        </div>
        <button onclick="toggleDarkMode()" class="theme-toggle u-pull-right" title="Toggle Theme">
          <div class="theme-toggle-thumb start">
            <img src="{{ get_url(path="images/theme/sun-fill.svg") | safe }}" class="theme-icon">
          </div>
        </button>
      </div>
    </div>
  </div>
</header>
<div class="container content">
  {% block content %} {% endblock %}
</div>
<footer>
  <div class="container">
    <div class="social-icon-box">
      <a href="https://github.com/RedstoneParadox"><img src="{{ get_url(path="images/social/github.svg") | safe }}" class="social-icon" style="width:28px;height:28px;margin: 8px;"></a>
      <a href="https://www.youtube.com/@redstoneparadox"><img src="{{ get_url(path="images/social/youtube.svg") | safe }}" class="social-icon" style="width:28px;height:28px;margin: 8px;"></a>
      <a href="https://modrinth.com/user/RedstoneParadox"><img src="{{ get_url(path="images/social/modrinth.svg") | safe }}" class="social-icon" style="width:28px;height:28px;margin: 8px;"></a>
      <a href="https://discord.gg/crZpcjtdJR"><img src="{{ get_url(path="images/social/discord.svg") | safe }}" class="social-icon" style="width:28px;height:28px;margin: 8px;"></a>
    </div>
    <hr style="margin: 8px;width: 20%;margin-left: auto;margin-right: auto;margin-top: 0%;" />
    <p style="text-align: center;">
      <span style="font-weight: 600;">Copyright &copy; RedstoneParadox 2024</span>
    </p>
  </div>
</footer>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
